---
Language: C

BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4

ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None

SortIncludes: true

LineEnding: DeriveLF
InsertNewlineAtEOF: true
...
